In [8]:
import pandas as pd

In [2]:
read_functions = {
    '.csv' : pd.read_csv,
    '.html': pd.read_html,
    '.json': pd.read_json,
    '.pkl': pd.read_pickle,
    '.pickle': pd.read_pickle,
}

In [12]:
!head API_IND_DS2_en_csv_v2/API_IND_DS2_en_csv_v2.csv

In [13]:
tmp = pd.read_csv('API_IND_DS2_en_csv_v2/API_IND_DS2_en_csv_v2.csv', skiprows=[0, 1]).head(5)

In [18]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)

In [2]:
tmp.head()

NameError: name 'tmp' is not defined